# Data Types

### Int

In [1]:
a = 6
b = 500
print(a)
print(b)
print('DATA TYPES')
print(type(a))
print(type(b))

6
500
DATA TYPES
<class 'int'>
<class 'int'>

### Float

In [2]:
c = 6.6
d = 500.90
print(c)
print(d)
print('DATA TYPES')
print(type(c))
print(type(d))

6.6
500.9
DATA TYPES
<class 'float'>
<class 'float'>

### String

In [3]:
sentence = "We are in training 12 "
print(sentence)
print('DATA TYPES')
print(type(sentence))

We are in training 12
DATA TYPES
<class 'str'>

In [4]:
sentence.upper() # transformation de la phrase en MAJUSCULE

'WE ARE IN TRAINING 12 '

In [5]:
sentence

'We are in training 12 '

In [6]:
print(sentence.lower())

we are in training 12

In [7]:
mot1 = "Bonjour" 
mot2= "tout le monde"
phrase_complete = mot1 + ' ' + mot2
print(mot1,mot2)
print("==========")
print(phrase_complete.upper())

Bonjour tout le monde
==========
BONJOUR TOUT LE MONDE

Formatage de chaine

In [8]:
age = 25
ville = "Paris"
message = "J'ai {} ans et j'habite à {}".format(age,ville)
print(message)

J'ai 25 ans et j'habite à Paris

##### Longeur de chaine (Len)

In [9]:
word = "Nous sommes en décembre"
print("Quelle est la taille de ma chaine ?") 
print("Taille de ",len(word))
print(word)
new_word = word.replace(" ","") # sans espace
print("Taille de ",len(new_word))

Quelle est la taille de ma chaine ?
Taille de  23
Nous sommes en décembre
Taille de  20

In [10]:
#Suppression espace en début de mot
>>> demo = " Demo  Example  "
>>> demo.lstrip()

'Demo  Example  '

In [11]:
>>> demo = " Demo  Example  "
>>> demo.replace(" ", "")
'DemoExample'

'DemoExample'

##### Slicing

In [12]:
sentence_1 = "Je suis à Paris dans la journée"

print(sentence_1)
premier_caracteres = sentence_1[0] # recuperer le premier index de ma phrase 
print(premier_caracteres)

lettre_s = sentence_1[3]
print(lettre_s)
print("RECUPERATION DU MOT PARIS")
paris = sentence_1[10:15] #recuperer un terme avec indice debut: indice de fin 
print(paris)

print(paris[-1])

Je suis à Paris dans la journée
J
s
RECUPERATION DU MOT PARIS
Paris
s

In [13]:
exemple_mot = "je"
len(exemple_mot)

2

In [14]:
mot = "jour"
phrases = "Nous sommes le jour de la semaine"
is_present = mot in phrases
is_present

True

### List

In [15]:
listes_1 = ["henry",24,"France"]
print(listes_1)
print('DATA TYPES')
print(type(listes_1))
#Comment avoir juste la France ?

['henry', 24, 'France']
DATA TYPES
<class 'list'>

In [16]:
listes_1[2]

'France'

In [17]:
listes_2 = ["bernard",35,"Italie"]

#Avoir un seule liste qui regroupe tous ces elements ?

list_total = listes_1 + listes_2 # concatenation de listes

list_total

['henry', 24, 'France', 'bernard', 35, 'Italie']

In [18]:
liste_numeros = [1, 2, 3, 4, 5] #index commence toujours à 0 ! 

#element 4
liste_numeros[3]
print(liste_numeros)
print("IMPRIMER LA LISTE A L'ENVERS")

listes_reverse = liste_numeros.reverse()
print(liste_numeros)

#Ajouter à la premiere liste 6

[1, 2, 3, 4, 5]
IMPRIMER LA LISTE A L'ENVERS
[5, 4, 3, 2, 1]

In [19]:
liste_numeros.append(7)

In [20]:
liste_numeros.append('mot')

In [21]:
liste_numeros.remove(1)

In [22]:
liste_numeros

[5, 4, 3, 2, 7, 'mot']

In [23]:
liste_numeros.remove(2)

In [24]:
liste_numeros

[5, 4, 3, 7, 'mot']

In [25]:
liste_numeros.insert(0,'hello') #Insertion à une position

In [26]:
liste_numeros

['hello', 5, 4, 3, 7, 'mot']

In [27]:
liste_numeros #Supprimer la position 2 
liste_numeros.pop(2)

4

In [28]:
liste_numeros

['hello', 5, 3, 7, 'mot']

In [29]:
sous_listes = liste_numeros[0:4] #le slicing de : fin s'arrete une valeur avant ! 
sous_listes

['hello', 5, 3, 7]

In [30]:
new_list_numbers = [1,2,3,4]

# taille de ma liste ? 

len(new_list_numbers)

4

In [31]:
# est ce que 3 est dans ma liste ? 

is_3 = 3
is_3 in new_list_numbers
3 in new_list_numbers

True

In [32]:
is_3

3

### Dictionnaire

In [1]:
#Unordered Key:Value pairs:  {"mykey" : "value" , "name" : "Frankie"}

In [6]:
#Dictionnaire simple

personne = {"nom":"Dupont","prenom":"Jean","age":25}

print(personne)

print("LES CLES DE MON DICT SONT : ",personne.keys())
print("LES VALEURS DE MON DICT SONT : ",personne.values())

print("ACCEDER AU VALEUR PAR LES CLES")

print("NOM", personne["nom"])
print("Prenom", personne["prenom"])

{'nom': 'Dupont', 'prenom': 'Jean', 'age': 25}
LES CLES DE MON DICT SONT :  dict_keys(['nom', 'prenom', 'age'])
LES VALEURS DE MON DICT SONT :  dict_values(['Dupont', 'Jean', 25])
ACCEDER AU VALEUR PAR LES CLES
NOM Dupont
Prenom Jean

 Ajouter ou modifier des valeurs

In [9]:
etudiant = {}
print(type(etudiant))


#Ajouter des valeurs 

etudiant["nom"] = "Martin"
etudiant["prenom"] = "Sophie"
etudiant["age"] = 22

print(etudiant)


etudiant["age"] = 32
print(etudiant)

<class 'dict'>
{'nom': 'Martin', 'prenom': 'Sophie', 'age': 22}
{'nom': 'Martin', 'prenom': 'Sophie', 'age': 32}

### Tuples

un tuple est une structure de données similaire à une liste, mais avec la particularité d'être immuable

In [11]:
coordonnées = (4,5)

print(coordonnées)
print(type(coordonnées))

(4, 5)
<class 'tuple'>

Acceder aux elements d'un tuple

In [13]:
x = coordonnées[0]
y = coordonnées[1]

print("Coordonnées de X :",x)
print("Coordonnées de Y :",y)

Coordonnées de X : 4
Coordonnées de Y : 5

Concatenation de tuples

In [15]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)

new_tuple = tuple1+ tuple2

print(new_tuple)

(1, 2, 3, 4, 5, 6)

In [16]:
informations_perso = ("Alice",30,"Femme")
informations_perso

('Alice', 30, 'Femme')

### Set

un ensemble (set) est une collection non ordonnée et non indexée d'éléments uniques

In [21]:
# Création d'un ensemble
ensemble_a = {1, 2, 3, 4, 5,10}
ensemble_b = {3, 4, 5, 6, 7,10}

print(type(ensemble_a))

<class 'set'>

Opérations sur les ensembles (union, intersection, différence)

In [22]:
union_resultat = ensemble_a | ensemble_b  # ou ensemble_a.union(ensemble_b)
print("Union :", union_resultat)

Union : {1, 2, 3, 4, 5, 6, 7, 10}

In [23]:
# Intersection
intersection_resultat =   ensemble_a.intersection(ensemble_b) #ensemble_a & ensemble_b  #
print("Intersection :", intersection_resultat)

Intersection : {10, 3, 4, 5}

In [25]:
# Différence
ensemble_a = {1, 2, 3, 4, 5,10}
ensemble_b = {3, 4, 5, 6, 7,10}
difference_resultat = ensemble_a - ensemble_b  # ou ensemble_a.difference(ensemble_b)
print("Différence :", difference_resultat)

Différence : {1, 2}

In [26]:
# Ajout d'un élément
ensemble_a.add(6)
print("Ensemble A après ajout :", ensemble_a)

Ensemble A après ajout : {1, 2, 3, 4, 5, 6, 10}

In [27]:
# Suppression d'un élément
ensemble_a.remove(10)
print("Ensemble A après suppression :", ensemble_a)

Ensemble A après suppression : {1, 2, 3, 4, 5, 6}

In [28]:
2 in ensemble_a

True

### CASTING

In [33]:
# forcer une conversion d'un type
a = 15
print(type(a))
print(a)
#convertir mon chiffre A en str

a = str(a)
print(type(a))
print(a)

<class 'int'>
15
<class 'float'>
15.0

In [34]:
liste = [1, 2, 3, 4, 5]
ensemble_c = set(liste)
print(ensemble_c)

{1, 2, 3, 4, 5}

In [ ]:
ll